@using VendorOrderTracker.Models;

@{
  Layout = "_Layout";
}

@foreach (Order order in Model)
{
  <section class="card">
    <div class="card-header">
      @order.Title
    </div>
    <div class="card-body">
      <div class="card-text">
        <p>Order Description: @order.Description</p>
        <p>Order Price: @order.Price</p>
        <p>Order Date: @order.Date</p>
        <p>Order ID: @order.Id</p>
        <p>Vendor Name: @order.VendorName</p>
      </div>
    </div>
  </section>  
}


