@using VendorOrderTracker.Models;

@{
  Layout = "_Layout";
}

<section class="card">
  <div class="card-header">
    <div class="cardListName">@Model.Title</div>
      <div class="cardListButton">
        <form action="/orders/@Model.Id" method="post">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
  </div>
  <div class="card-body">
    <div class="card-text">
      <p>Order Description: @Model.Description</p>
      <p>Order Price: @Model.Price</p>
      <p>Order Date: @Model.Date</p>
      <p>Order ID: @Model.Id</p>
      <p>Vendor Name: @Model.VendorName</p>
    </div>
  </div>
</section>  
