@using VendorOrderTracker.Models;

@{
  Layout = "_Layout";
}

<section class="card">
  <div class="card-header">
    @Model.Title
  </div>
  <div class="card-body">
    <div class="card-text">
      <p>Order Description: @Model.Description</p>
      <p>Order Price: @Model.Price</p>
      <p>Order Date: @Model.Date</p>
      <p>Order ID: @Model.Id</p>
      <p>Vendor Name: @Model.VendorName</p>
    </div>
  </div>
</section>  
